body{
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  
  .register{
    max-width: 600px;
    margin: 8px auto;
    padding: 100px;
    background-color: gray !important;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  